name: k6 tests pipeline

on:
  workflow_dispatch:
  schedule:
    - cron: "30 17 * * *"

jobs:
  k6-tests:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.API_KEY_SECRET }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup k6
        uses: grafana/setup-k6-action@v1

      - name: Run k6 test
        run: k6 run load-test.js

      - name: Upload k6 HTML report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: k6-results
          path: results.html
          retention-days: 7
